body { margin:15%; background:#f6e0b1cc; text-align:justify}

h1, h2, h3, h4, h5 {text-align: center; font-style: italic; font-weight:
700; line-height: 1.5; margin-top: .5em; margin-bottom: .5em; color: #1d252d; font-family: serif;}

h1 {font-size: 290%;}
h2 {font-size: 140%;}
h3 {font-size: 120%;}
h4 {font-size: 110%;}
h5 {font-size: 100%;}

/* hr {width: 80%; margin-top: 2em; margin-bottom: 2em;} */

div.chapter {page-break-before: always; margin-top: .1em;}

p, .p2 {text-indent: 1em;
margin-top: 1em;
margin-bottom: 1em;
font-family: serif;
text-align: justify;
font-size: large;
font-style: italic;
font-weight: 600;
color: #282626;
}

p.poem {text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em; }

p.letter {text-indent: 0%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1em;
        margin-bottom: 1em; }

p.center  {text-align: center;
         text-indent: 0em;
         margin-top: 1em;
         margin-bottom: 1em; }
 
p.right {text-align: right;
       margin-right: 10%;
       margin-top: 1em;
       margin-bottom: 1em; }
 

div.fig { display:block;
       margin:0 auto;
       text-align:center;
       margin-top: 1em;
       margin-bottom: 1em;}

a:link {color:rgb(28, 28, 53); text-decoration:none}
a:visited {color:rgb(28, 28, 53); text-decoration:none}
a:hover {color:red}